*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: thistle;
    height: 100%;
    width: 100%;
    animation: cuerpo 5s infinite;
}
header{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid 4px white;
    color: white;
    height: 200px;
    width: 25%;
    padding: 25px;
}
@keyframes cuerpo {
    0%{
        background-color: brown;
    }
    50%{
        background-color: black;
    }
}